@font-face
{
    font-family: microsoft-tai-le;
    src:url('../fonts/taile.ttf')
}

body
{
    background-color:#f2f2f2 !important;
    font-family: microsoft-tai-le;
    font-size: 10pt;
}


/* --------------------------------------------------- *
   PRÉ-LOADING ------------ BEGIN
*---------------------------------------------------- */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con 
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	/*background: url(../img/loader/64x/Preloader_2.gif) center no-repeat; */
	background-color: rgba(255, 255, 255, 0.5);

}
.centralizar
{
	margin-top:40vh;
	opacity:1 !important;
}
/* --------------------------------------------------- *
    PRÉ-LOADING ------------ END
 *---------------------------------------------------- */

 .modal-lg
 {
    max-width: 80%;
 }
 
 h0
 {
    font-size: 40pt;
 }
 
 .quadro-dash
 {
    height: 120px;
    border-radius: 10px;
 }
 
.quadro-chart
{
    border-radius: 10px;
}

p
{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus
{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar
{
    padding: 15px 10px;
    background: #212529;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line 
{
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,span 
{
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper 
{
    display: flex;
    align-items: stretch;
}

#sidebar
{
    min-width: 180px;
    max-width: 180px;
    background: #212529;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active
{
    min-width: 90px;
    max-width: 90px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #212529;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components
{
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover
{
    color: #1676ad;
    font-weight: bold;
    background-color: transparent;

    border-left:2px solid #1676ad;
    border-right:3px solid #1676ad;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"]
{
    color: #fff;
    background: #333333;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a 
{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #333333;
}

ul.CTAs 
{
    padding: 20px;
}

ul.CTAs a 
{
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download
{
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover
{
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content 
{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) 
{
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after 
	{
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active 
	{
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs 
	{
        display: none;
    }
    #sidebar .sidebar-header strong 
	{
        display: block;
    }
    #sidebar ul li a 
	{
        padding: 20px 10px;
    }
    #sidebar ul li a span 
	{
        font-size: 0.85em;
    }
    #sidebar ul li a i 
	{
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a 
	{
        padding: 10px !important;
    }
    #sidebar ul li a i 
	{
        font-size: 1.3em;
    }
    #sidebar 
	{
        margin-left: 0;
    }
    #sidebarCollapse span 
	{
        display: none;
    }
}

.avatar img{border-radius:50%;max-width:45px}.pricing{background:#fff}

ul.messages li img.avatar,img.avatar{height:50px;width:50px;float:left;display:inline-block;border-radius:50%;padding:2px;background:#f7f7f7;border:1px solid #e6e6e6}

.img-circle{border-radius:50%}