
@font-face
{
    font-family: microsoft-tai-le;
    src:url('../fonts/taile.ttf')
}


body
{
    background-color:#f2f2f2 !important;
    font-family: microsoft-tai-le;
}


#navbarDropdown:active
{
	color: #fff !important;
    background-color: #212529 !important;	
}
.dropdown-item:hover
{
	color: #fff !important;
    background-color: #212529 !important;	
}

.cursor-pointer
{
    cursor: pointer;
}
.noresize
{
    resize: none;
}
.escondido
{
    display:none;
}
.scroll-custom
{
    overflow-y: scroll;
}
.scroll-hidden
{
    overflow-y: hidden;
}

.navbar
{
    border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content
{
    height: 450px;
}

/* Set gray background color and 100% height */
.sidenav
{
    padding-top: 15px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer
{
    background-color: #555;
    color: white;
}

hr
{
    height: 4px;
    margin-left: 15px;
    margin-bottom:-3px;
}

.hr-success
{
    background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}
.hr-primary
{
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}

.breadcrumb
{
    background: rgba(245, 245, 245, 0);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 25px;
    display: block;
}

.btn-bread
{
    margin-top:10px;
    font-size: 12px;

    border-radius: 3px;
}

/* dados modal */
.modal
{
    text-align: center;
    padding: 0!important;
}

.modal:before
{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog
{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px)
{
.sidenav
{
    height: auto;
    padding: 15px;
}
.row.content
{
    height:auto;
}
}

.lds-dual-ring
{
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after
{
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}



/* estilo intranet*/

.cor-emserh
{
    color:#212529;
}

.background-emserh
{
    background-color:#212529;
	color: #fff;
}

.borda-elemento-intranet
{
    border: 2px solid #d2d2d2;
    border-radius: 5px;
    padding-top: 10px !important;
    margin-left: 5px;
    margin-right: 5px;
}

/* campos e botões */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="number"],
textarea,
select,
.campo-emserh,
.node-tree.node-selected
{
    border: 1px solid #212529 !important;
    border-radius: 10px !important;
}


.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active,
.btn-primary.disabled:hover,
.btn-primary.focus,
.btn-primary:focus,
.node-tree.node-selected:hover,
.node-tree.node-selected
{
    color: #fff !important;
    border-color: #000;
}





.botao-emserh:hover
{
    color: #fff;
    background-color:  #212529;
    border-color: #212529;
}

/* fieldset */

fieldset>legend
{
    border-bottom: 2px solid #d2d2d2;
}

/* tabs */
.nav-tabs>li>a
{
    color: #000;
    font-weight:bold;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover
{
    color: #fff;
    cursor: default;
    background-color: #212529;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tab-content
{
    border-top: 2px solid #212529;
}

/* menu e modais*/
.modal-header
{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.menu-intranet,
.modal-header
{
    color:#fff !important;
    background-color: #212529;

}
.navbar-default .navbar-nav>li>a
{
    color: #fff;
    border-bottom: 2px solid #212529;
}

.navbar-default .navbar-nav>li>a:hover
{
    color: #1676ad;
    font-weight: bold;
    background-color: transparent;
    border-bottom:2px solid #1676ad;
}

/* Rounded sliders */
.slider.round
{
    border-radius: 34px;
}

.slider.round:before
{
    border-radius: 50%;
}

.switch
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider
{
    background-color: #212529;
}

input:focus + .slider
{
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
